

<%- include("partials/hearder") %>





<form class="form-group"action="/" method="post">
  <label for="city"> City Name</label>
 
 <textarea class="form-control" name="cityName" placeholder="Name of the city............... " rows="4" cols="80"></textarea>



 <button class="btn btn-dark btn-lg" type="submit" >Search</button>

</form>





<%- include("partials/footer") %>

 